
.navbar-container{
    width: 100%;
    margin: 20px 0px 50px 0px;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(179, 179, 179);
    padding: 10px;
    list-style: none;
    gap: 20px;

}
#navbar li{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}